# environment
.env
.env.*
.development.env

# artifacts
node_modules
coverage
dist
public/cube3d/wasm-cube
public/package.json
public/package-lock.json

# misc
.vscode
.DS_Store
Thumbs.db
*.tsbuildinfo
npm-debug.log*
