@import url("../common/theme/index.css");

bitovi-eggbert {
  width: 10.5em;
  margin: 0 auto;
}

nav ul {
  list-style: none;
  padding: 0;

  font-size: 2em;
  text-align: center;

  a {
    color: var(--brand-colors-orange);
  }
  a:visited {
    color: var(--brand-colors-teal-dark);
  }
}
